<h3 class="title is-4">Alphabetized Customers</h3>

<div class="columns is-multiline">
  <%= render partial: 'customer',
            collection: @alph_customers,
            locals: { show_link: true } %>
</div>

<%= link_to "All Customers", customers_path %>
<%= link_to "Customers without Email", missing_email_customers_path %>