<h3 class="title is-4">Customers</h3>

<div class="columns is-multiline">
  <%= render partial: 'customer',
            collection: @customers,
            locals: { show_link: true } %>
</div>

<%= link_to "Alphabetized Customers", alphabetized_customers_path %>
<%= link_to "Customers without Email", missing_email_customers_path %>