<h3 class="title is-4">Customers with Missing Email</h3>

<%= @missing_email_customers.length %>

<div class="columns is-multiline">
  <%= render partial: 'customer',
            collection: @missing_email_customers,
            locals: { show_link: true } %>
</div>

<%= link_to "All Customers", customers_path %>
<%= link_to "Alphabetized Customers", alphabetized_customers_path %>